$main-color: #2D8665;
$alfa-color: #C15644;
//$beta-color: #9FDFD0;
$beta-color:#BEBEBE;
$gamma-color: #2D8665;
$delta-color: #8866CC;
$sigma-color: #95C85B;
$light-color: #FBF7F4;
$dark-color:#040803;
//$nb-color-alpha:#95C85B;
$nb-color-alpha: $sigma-color;
$am-width-md: 4px;

