.u-border-thick{
    border: $am-width-md solid $light-color;
   }
.u-txt-center{
    text-align: center;
}
.u-bg-delta-color{
    background-color: $delta-color;
}
.u-bg-sigma-color{
    background-color: $sigma-color;
}
.u-bg-light{
    background-color: $light-color;
}
.u-bg-shadow--sm{
    box-shadow:   0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.u-bg-shadow--sm--hover{
    box-shadow:   0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);  
    transition: all 0.3s;
    &:hover{
        box-shadow:   0 8px 17px 0 rgba(0,0,0,0.16), 0 6px 20px 0 rgba(0,0,0,0.12);
    }
}

.u-txt-bold{
    font-weight: bold !important;
}
.u-txt-light{
    font-weight: 300 !important;
}
.u-border-color-beta{
    border-color: $beta-color;
}
.u-lineheight-sm{
    line-height: 1rem !important;
}
.u-txt-italic{
    font-style: italic;
}
.u-txt-fancy{
    color: $sigma-color;
}

.u-soft-top-sm{
    padding-top: $nb-spacing-unit/2;
}
.u-site-main-bg-color{
    background-color: $beta-color;
}
.u-site-darken-bg-color{
    background-color: $main-color !important;
}
